@tGreen: #00DC01;
@darkGray: #222;
@errorRed: #BE0026;
@outer: #091639;
@inner: #12A2CE;

.radial(@innerColor: #555, @outerColor: #333, @pos: center, @colorStop: 100%)  {
  background-image: -moz-radial-gradient(@pos, circle, @innerColor, @outerColor @colorStop); // FF 3.6+
  background-image: -ms-radial-gradient(@pos, circle, @innerColor, @outerColor @colorStop); // IE10
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor)); // Android 2.3, Safari 4+, Chrome 2+
  background-image: -webkit-radial-gradient(@pos, circle, @innerColor, @outerColor @colorStop); // Safari 5.1+, Chrome 10+
  background-image: -o-radial-gradient(@pos, circle, @innerColor, @outerColor @colorStop); // Opera 11.10
}

.fullScreen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.loginBackground {
  .fullScreen;
  background: url('/assets/loginBackground.PNG') no-repeat;
  background-size: cover;
}

.createBackground {
  .fullScreen;
  background: url('/assets/createBackground.PNG') no-repeat;
  background-size: cover;
}

.hhContainer{
  overflow: hidden;
  clear: both;
}

.vertPad {
  padding: 5px 0;
}

.terminalContainer {
  padding: 20px 40px;
  background: @darkGray;
  label {
    float: left;
    color: @tGreen;
  }
  input {
    float: right;
  }
  button {
    float: right;
    color: @tGreen;
    background-color: black;
    border: 1px solid @tGreen;
    margin-top: 10px;
    font-size: 16px;
  }
}

.loginContainer.terminalContainer{
  margin: 200px auto;

  width: 400px;
  a {
    font-size: 13px;
    position: relative;
    top: 12px;
  }
}

.createContainer.terminalContainer{
  width: 400px;
  background: @darkGray;
  margin: 150px auto;
}

.validationMessages{
  color: @errorRed;
  font-size: 12px;
}

.customError{
  color: @errorRed;
}

.left{
  float: left;
}

.right{
  float: right;
}

.split{
  width: 50%;
}

.padded {
  padding: 10px 30px;
}

#bioInput {
  width: 100%;
  margin: auto;
  resize: vertical;
}

.header {
  padding: 10px;
  border-bottom: 1px solid;
  background-color: white;
  color: #555;
}

.loggedInBackground {
  .radial(#12A2CE, #091639);
  .fullScreen
}

.logout{
  padding: 3px 20px;
  border: 1px solid @inner;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
}

.createBioContainer{
  h3 {
    color: white;
  }
  button {
    .logout
  }
  textarea{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.helpSearchContainer{
  h3 {
    color: white;
  }
}

.heroesContainer {
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.heroDetailsContainer {
  padding: 10px 20px;
  background-color: #eee;
  margin-left: 20px;
}

.heroHeader {
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  .fa.fa-chevron-right {
    position: relative;
    top: 2px;
  }
}

.separator {
  border-bottom: 1px solid;
  margin: 5px;
}

.headerTxt{
  font-size: 16px;
  font-weight: normal;
  padding-top: 3px;
}

.bioLbl {
  font-weight: bold;
}

.heroName {
  margin-left: 5px;
}

.savedLbl {
  padding: 5px 10px;
  color: #48F756;
}

.madLibHint {
  font-weight: bold;
  margin-right: 5px;
}

.madLibHints{
  padding-bottom: 20px;
}

.requirementContainer{
  margin: auto;
  text-align: center;
  label{
    margin-right: 20px;
    width: 150px;
    text-align: left;
  }
}

.appName{
  font-size: 20px;
  margin-right: 40px;
  font-weight: bold;
}