doctype html
html
	head
		title Superhero Generator
		link(rel='stylesheet', href='/css/app.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js')
		script(src='/js/app.min.js')
		script(src='/js/lib.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
	body(ng-app="superhero")
		div(ui-view class="appContainer")
