div
	div(class="loggedInBackground")
	div(class="header hhContainer")
		span(class="left appName") Hero Hub
		span(class="left headerTxt") Welcome Back, {{alias}}
		span(class="right")
			button(type="button" ng-click="logout()" class="logout") Logout

	div(class="appBody" ui-view="")