div(class="createBioContainer")
	h3 My Bio
	div
		textarea(id="bioInput" ng-model="bio" rows="7")
	div(class="hhContainer")
		button(type="button" class="left" ng-click="generateBio()") Help Me With My Bio
		div(class="right")
			label(class="savedLbl" ng-if="updated") Bio has been saved
			button(type="button" class="right" ng-click="updateBio()") Save My Bio