div(class="createBackground")
div(class="createContainer terminalContainer" ng-controller="CreateHeroController")
	form(name="createForm" ng-submit="create()")
		div(class="hhContainer vertPad")
			div(class="customError" ng-show="userAlreadyExists") This username is already registered
			div(validation-errors="createForm.username")
			label(for="new_username" class="createLbl") Username
				strong *
			input(id="new_username" name="username" class="createField" type="text" required ng-model="hero.username")
		div(class="hhContainer vertPad")
			div(validation-errors="createForm.password" overrides="{pattern: 'Password must be 6-20 characters and contain a number'}")
			label(for="new_password" class="createLbl") Password
				strong *
			input(id="new_password" name="password" class="createField" type="password" required ng-model="hero.password" ng-model-options="{updateOn: 'blur'}" ng-pattern="/^(?=.*\\\d).{6,20}$/")
		div(class="hhContainer vertPad")
			div(validation-errors="createForm.confirm" overrides="{compareTo: 'Passwords do not match'}")
			label(for="confirm" class="createLbl") Confirm
				strong *
			input(id="confirm" name="confirm" class="createField" type="password" required compare-to="hero.password" ng-model="confirm")
		div(class="hhContainer vertPad")
			div(validation-errors="createForm.alias")
			label(for="secretIdentity" class="createLbl") Alias (e.g. Batman)
				strong *
			input(id="alias" name="alias" class="createField" type="text" required ng-model="hero.alias")
		div(class="hhContainer vertPad")
			div(validation-errors="createForm.secretIdentity")
			label(for="secretIdentity" class="createLbl") Secret Identity (e.g. Bruce Wayne)
				strong *
			input(id="secretIdentity" name="secretIdentity" class="createField" type="text" required ng-model="hero.secretIdentity")
		div(class="hhContainer vertPad")
			div(validation-errors="createForm.phone")
			label(for="phone" class="createLbl") Phone
				strong *
			input(id="phone" name="phone" class="createField" type="text" required ng-model="hero.phone" ui-mask="(999) 999-9999")
		div(class="hhContainer vertPad")
			button Create Superhero