div(class="helpSearchContainer")
	h3 Need help fighting your crime tonight?
	div(class="heroesContainer")
		div(class="heroContainer" ng-repeat="hero in heroes")
			div(class="heroHeader hhContainer" ng-click="isExpanded = !isExpanded")
				span(class="fa left" ng-class="{'fa-chevron-right': !isExpanded, 'fa-chevron-down': isExpanded}")
				span(class="heroName left") {{hero.alias}}
				span(class="heroPhone right") {{hero.phone | phone}}
			div(class="heroDetailsContainer" collapse="!isExpanded")
				div(class="bioLbl") Bio:
				div {{hero.bio}}
			div(class="separator" ng-if="!$last")
