div(class="loginContainer terminalContainer")
	div(class="customError" ng-if="invalidCreds") Invalid username or password
	form(name="loginForm" ng-submit="login(loginForm.$valid)")
		div(class="hhContainer vertPad")
			label(for="username") Username
			input(type="text" id="username" ng-model="username" required)
		div(class="hhContainer vertPad")
			label(for="password") Password
			input(type="password" id="password" ng-model="password" required)
		div(class="hhContainer vertPad")
			a(class="createAccountLnk" ui-sref="nl.create" href="javascript:void(0)") No account or super powers?
			button(class="loginBtn") Login