div(ng-form="form")
	div(class="modal-header")
		h3(class="modal-title") Jarvis' Bio Generator
	div(class="modal-body")
		h4 Fill out the following to discover your superhero bio
		div(class="madLibHints")
			div
				span(class="madLibHint") Noun
				span is a person, place or thing. ex: Mr. Rogers, home, my car
			div
				span(class="madLibHint") Adjectives
				span describe a noun. ex: cute, purple, meaningless, smart, breakable
			div
				span(class="madLibHint") Adverbs
				span describe when, where, or how a verb happened. ex: quickly, uneasily, inside, upstairs, yesterday, today
		div(ng-repeat="(key, value) in requirements" class="requirementContainer")
			div(validation-errors="form[key]")
			label(class="madLibLbl" for="{{key}}") {{value}}
			input(type="text" id="{{key}}" name="{{key}}" ng-model="template.requirements[key]" required)
	div(class="modal-footer")
		button(type="button" class="btn btn-warning" ng-click="cancel()") Cancel
		button(type="button" class="btn btn-primary" ng-click="generate(form.$valid)") Generate
