div(class="validationMessages" ng-messages="formCtrl.$error" ng-show="formCtrl.$dirty")
	div(ng-repeat="(key, value) in custom")
		div(ng-message-exp="key") {{value}}
	div(ng-message="required" class="vld_required") Required
	div(ng-message="compareTo" class="vld_compareTo") Comparison doesn't match
	div(ng-message="pattern" class="vld_pattern") Doesn't match required pattern